@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Regular 400 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/* Regular 400
Medium 500
Bold 700 */

:root{
  --color-primary: #D7FB00;

  --greyLight: #999;
  --greyDark: #666;

  --bgLight: #fff;
  --bgDark: #000;

  --bgSeccion: #111;
  
}

html,
body {
  padding: 0;
  overflow-x: hidden;
  font-size: 14px;
  /* background: #121717; */
}

a {
  text-decoration: none;

  font-family: 'Inter', sans-serif;
  color: var(--greyLight);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(0,0,0,0.7);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

main{
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5{
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  color: var(--bgLight);
  font-weight: 400;
  text-transform: uppercase;
}

strong{
  font-weight: 400;
}

p{
  font-family: 'Inter', sans-serif;
  color: var(--greyLight);
}

