.containInstructores{
    width: 100%;
    padding: 50px 0;
    position: relative;
}

.titleSeccion{
    max-width: 1150px;
    margin: auto;
    width: 90%;
    h1{
        font-size: 3.5rem;
        margin-bottom: 100px ;
        color: var(--bgDark);
    }
}

.containTrainers{
    max-width: 1150px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.imgTrainers{
    width: 30%;
    filter: grayscale(1);
    transition: all 200ms ease-in;
    overflow: hidden;
    position: relative;
    display: flex;
    box-shadow: 5px 5px 10px 0px #838383;
    align-items: stretch;
    justify-content: center;
    
    img{
        height: max-content;
        max-width: 100%;
    }

    .nameTrainer{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 15px;
        display:flex;
        flex-direction: column;
        align-items: center;
        background: var(--color-primary);
        padding: 5px 0;
        h3{
            color: var(--bgDark);
            font-size: 1.5rem;
        }
        p{
            color: var(--bgDark);
        }
        transition: all 200ms ease-in-out;
        transform: translateY(150%);
    }

    &:hover{
        filter: grayscale(0);
        .nameTrainer{
           transform: translateY(0);
        }
    }
}

.decoBack{
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: -1;
}

@media screen and (max-width:1024px) {
    .decoBack{
        right: 5%;
        svg{
            width: 200px;
            height: 200px;
        }
    }
}

@media screen and (max-width:767px) {
    .containTrainers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .titleSeccion{
        h1{
            font-size: 2.5rem;
            margin-bottom: 30px ;
        }
    }
    
    .imgTrainers{
        width: 100%;
        filter: grayscale(0);
        .nameTrainer{
            margin-bottom: 10px;
            padding: 2px 0;
            h3{
               font-size: 1rem;
            }
            p{
                font-size: 12px;
                color: var(--bgDark);
            }
            transform: translateY(0);
        }
    }

    .decoBack{
        right: 25%;
        top: 40%;
    }
}